---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/MoitvationCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Some Feature 1",
    // titleBottom: "Optimization",
    img: c1,
    alt: "SEO",
    link: "https://google.com",
    desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, quia.",
  },
  {
    index: 2,
    titleTop: "Some Feature 2",
    // titleBottom: "advertising",
    img: c2,
    alt: "SEO",
    link: "https://google.com",
    desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, quia.",
  },
  {
    index: 3,
    titleTop: "Some Feature 3",
    // titleBottom: "Marketing",
    img: c3,
    alt: "SEO",
    link: "https://google.com",
    desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, quia.",
  },
  {
    index: 1,
    titleTop: "Some Feature 4",
    // titleBottom: "Marketing",
    img: c3,
    alt: "SEO",
    link: "https://google.com",
    desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, quia.",
  },
];

const description = "Let's discuss some of the features";
---

<Section id="features">
  <div class="my-[70px]">
    <SectionTitle sectionTitle="Features" description={description} />
    <div class="grid lg:grid-cols-2 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            img={card.img}
            alt={card.alt}
            desc={card.desc}
          />
        ))
      }
    </div>
  </div>
</Section>
