---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description = "Meet our team of talented individuals who are passionate about building the best products for you.";

import {
  default as p1,
  default as p2,
  default as p3,
  default as p4,
  default as p5,
  default as p6,
} from "../../assets/pics/profile-pic-2.png";

const team = [
  {
    pic: p1,
    name: "Arpit Sengar",
    role: "Developer",
    description:
      "Hey there I'm using Whatsapp",
    linkedin: "https://linkedin.com/in/arpitsengar",
    github: "https://github.com/arpy8",
  },
];
---

<Section id="about">
  <div class="my-[70px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            linkedin={member.linkedin}
            github={member.github}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <a href="https://github.com/arpy8/WYA/graphs/contributors" target="_blank" rel="noopener noreferrer">
        <button class="btn-primary">See contributors</button>
      </a>
    </div>
  </div>
</Section>
